aspnet/
babel.json/
bash_history/
bazel/
cache/
cargo/
cmake/
compiz/
config/
dbus/
dotnet/
gconf/
gem/
gnupg/
ICEauthority/
irssi/
lesshst/
lldb/
local/
keys/
mozilla/
nano/
node-gyp/
npm/
nuget/
nvm/
nv/
nvidia-settings-rc/
pki/
pulse-cookie/
pip/
python_history/
racket/
rnd/
ssh/
steam/
steampath/
steampid/
subversion/
sudo_as_admin_successful/
vim/.netrwhist
vim/bundle
vim/ftdetect
viminfo/
vscode/
w3m/
wmii/history*
Xauthority/
