aspnet/
babel.json/
bash_history/
cache/
cargo/
compiz/
config/
dbus/
dotnet/
gconf/
gnupg/
ICEauthority/
lesshst/
lldb/
local/
keys/
mozilla/
nano/
nuget/
nv/
nvidia-settings-rc/
pki/
pulse-cookie/
steam/
steampath/
steampid/
sudo_as_admin_successful/
vim/.netrwhist
vim/bundle
vim/ftdetect
viminfo/
vscode/
w3m/
wmii/history*
Xauthority/
